@font-face {
  font-family: 'aff';
  src: url('../font/aff.eot?49659532');
  src: url('../font/aff.eot?49659532#iefix') format('embedded-opentype'), url('../font/aff.woff?49659532') format('woff'), url('../font/aff.ttf?49659532') format('truetype'), url('../font/aff.svg?49659532#aff') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'aff';
    src: url('../font/aff.svg?49659532#aff') format('svg');
  }
}
*/
/* line 23, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  position: relative;
  top: 2px;
  font-family: "aff";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  margin-right: 0.4em;
  margin-left: 0.2em;
  font-size: 190%
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 47, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-advocacy:before {
  content: '\e801'; }

/* '' */
/* line 48, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-resources:before {
  content: '\e800'; }

/* '' */
/* line 49, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-about:before {
  content: '\e802'; }

/* '' */
/* line 50, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-contact:before {
  content: '\e805'; }

/* '' */
/* line 51, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-login:before {
  content: '\e804'; }

/* '' */
/* line 52, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-home:before {
  content: '\e806'; }

/* '' */
/* line 53, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-donate:before {
  content: '\e803'; }

/* '' */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 16, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 20, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
body {
  margin: 0; }

/* line 24, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
h1 {
  display: none; }

/* line 28, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.upper {
  text-transform: uppercase; }

/* line 32, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.center {
  text-align: center; }

/* nav */
/* line 38, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu {
  background: #F2F1F1;
  font-family: 'Open Sans', sans-serif;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  padding-top: 2em; }

/* line 49, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu ul {
  margin: 0;
  padding: 0; }

/* line 53, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu li {
  list-style-type: none; }

/* line 57, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu a {
  display: block;
  /* drops the nav vertically*/
  color: #675B57;
  text-decoration: none;
  padding: 1em;
  letter-spacing: 2px; }
  /* line 63, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .pushmenu a:hover {
    color: #CCB89C; }

/* line 68, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu-left {
  left: -240px; }

/* line 73, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu-left.pushmenu-open {
  left: 0; }

/* line 77, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

/* line 83, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu-push-toright {
  left: 240px; }

/* sub-nav */
/* line 89, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.sub-nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s; }

/* line 95, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
nav section:hover > .sub-nav {
  max-height: 100px; }

/* line 99, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.sub-nav a {
  color: #675B57;
  font-size: 12px;
  padding-left: 2em; }
  /* line 103, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .sub-nav a:hover {
    color: #CCB89C; }

/*Transition*/
/* line 110, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu, .pushmenu-push {
  transition: all 0.3s ease; }

/* line 114, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
#nav_list {
  background: url("../images/menu.svg") no-repeat left top;
  cursor: pointer;
  height: 65px;
  width: 70px;
  text-indent: -99999em; }

/* line 122, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
nav-list.active {
  background-position: -33px top; }

/* line 126, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
section.content {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px; }

/* content */
/* line 133, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.logo {
  width: 15em; }

@media only screen and (min-width: 40em) {
  /* line 139, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .logo {
    width: 20em; }
 }

/* line 143, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.img-bg {
  width: 100%;
  padding-bottom: 15em; }

/* line 148, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.home {
  background: transparent url("../images/BG.JPG") no-repeat center top;
  background-size: cover; }

/* line 153, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.tagline {
  color: #EFEFEF;
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

/* footer */
/* line 164, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
footer {
  background-color: #1F2B33;
  padding-top: 4em;
  padding-bottom: 2rem
  /* footer social */
  /* social end*/ }
  /* line 169, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .logo-footer {
    margin-left: 29%;
    margin-right: 20%;
    width: 10rem; }
  /* line 175, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .donate {
    margin-left: 31%; }
  /* line 179, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .donate-btn {
    background-color: #EFEFEF;
    color: #1F2B33;
    padding: 0.5em 1em;
    border-radius: 3px;
    margin: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 3px;
    border: 2px solid #EFEFEF;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 300ms ease-in-out; }
    /* line 31, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/mixins */
    footer .donate-btn:hover {
      background-color: #1F2B33;
      color: #EFEFEF;
      border: 2px solid #EFEFEF; }
  /* line 185, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .social-wrap {
    overflow: hidden;
    padding: 10px 0; }
  /* line 190, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .social-name {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }
  /* line 194, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .social {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0.5rem;
    position: relative;
    float: left;
    left: 50%
    /* li end */ }
    /* line 203, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
    footer .social li {
      position: relative;
      float: left;
      right: 50%
      /* a end */ }
      /* line 207, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
      footer .social li a {
        display: inline;
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        text-align: center;
        padding-top: 12px;
        -o-border-radius: 20px;
        border-radius: 20px;
        -o-box-shadow: inset 0 0 0 40px #EFEFEF;
        -ms-box-shadow: inset 0 0 0 40px #EFEFEF;
        box-shadow: inset 0 0 0 40px #EFEFEF;
        color: #1F2B33
        /* hover end*/ }
        /* line 229, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
        footer .social li a:hover {
          -o-box-shadow: inset 0 0 0 2px #EFEFEF;
          -ms-box-shadow: inset 0 0 0 2px #EFEFEF;
          box-shadow: inset 0 0 0 2px #EFEFEF;
          color: #EFEFEF;
          transition: all 0.3s ease; }
