@font-face {
  font-family: 'aff';
  src: url('../font/aff.eot?49659532');
  src: url('../font/aff.eot?49659532#iefix') format('embedded-opentype'), url('../font/aff.woff?49659532') format('woff'), url('../font/aff.ttf?49659532') format('truetype'), url('../font/aff.svg?49659532#aff') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'aff';
    src: url('../font/aff.svg?49659532#aff') format('svg');
  }
}
*/
/* line 23, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  position: relative;
  top: 2px;
  font-family: "aff";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  margin-right: 0.4em;
  margin-left: 0.2em;
  font-size: 190%
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 47, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-advocacy:before {
  content: '\e801'; }

/* '' */
/* line 48, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-resources:before {
  content: '\e800'; }

/* '' */
/* line 49, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-about:before {
  content: '\e802'; }

/* '' */
/* line 50, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-contact:before {
  content: '\e805'; }

/* '' */
/* line 51, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-login:before {
  content: '\e804'; }

/* '' */
/* line 52, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-home:before {
  content: '\e806'; }

/* '' */
/* line 53, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/aff-icon */
.icon-donate:before {
  content: '\e803'; }

/* '' */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 16, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 20, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
body {
  margin: 0; }

/* line 24, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.h1-home {
  display: none; }

/* line 28, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.upper {
  text-transform: uppercase; }

/* line 32, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.center {
  text-align: center; }

/* line 36, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.small-border {
  display: block;
  width: 45px;
  height: 4px;
  background: #1F2B33;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 10px; }

/* nav */
/* line 49, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu {
  background: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  padding-top: 2em; }

/* line 61, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu ul {
  margin: 0;
  padding: 0; }

/* line 65, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu li {
  list-style-type: none; }

/* line 69, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu a {
  display: block;
  /* drops the nav vertically*/
  color: #1F2B33;
  text-decoration: none;
  padding: 1em;
  font-size: 0.9rem;
  letter-spacing: 2px; }
  /* line 76, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .pushmenu a:hover {
    color: #BA3D36; }

/* line 81, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu-left {
  left: -240px; }

/* line 86, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu-left.pushmenu-open {
  left: 0; }

/* line 90, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

/* line 96, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu-push-toright {
  left: 240px; }

/* sub-nav */
/* line 102, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.sub-nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
  font-weight: 300; }

/* line 109, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
nav section:hover > .sub-nav {
  max-height: 100px; }

/* line 113, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.sub-nav a {
  color: #1F2B33;
  font-size: 12px;
  padding-left: 2em; }
  /* line 117, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .sub-nav a:hover {
    color: #BA3D36; }

/*Transition*/
/* line 124, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.pushmenu, .pushmenu-push {
  transition: all 0.3s ease; }

/* line 128, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
#nav_list {
  background: url("../images/menu.svg") no-repeat left top;
  cursor: pointer;
  height: 65px;
  width: 70px;
  text-indent: -99999em; }

/* line 136, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
nav-list.active {
  background-position: -33px top; }

/* line 140, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
section.content {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px; }

/* search bar */
/* line 148, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
input.searchField {
  width: 10px;
  height: 10px;
  padding: 20px 0 20px 40px;
  line-height: 10px;
  border: 0;
  background-color: #EFEFEF;
  border: 1px solid #1F2B33;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 11px center;
  background-size: auto 50%;
  border-radius: 30px;
  transition: all 0.5s ease;
  cursor: pointer; }

/* line 165, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
input.searchField:focus {
  outline: none;
  width: 200px;
  padding-left: 45px;
  background-position: 10px center;
  background-color: white; }

/* line 174, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.search-bar {
  padding-left: 1em;
  padding-top: 1em;
  position: relative;
  bottom: 0; }

/* content */
/* line 182, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.logo {
  width: 17em;
  padding-top: 1rem;
  margin-bottom: -5rem; }

/* line 188, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.home-bg {
  width: 100%;
  padding-bottom: 5em; }

/* line 193, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.img-bg {
  width: 100%;
  padding-bottom: 10em; }

/* line 199, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.arrow {
  padding-top: 9.75rem; }

/* line 203, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.home {
  background: transparent url("../images/fog-forest-5.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 0; }

/* line 209, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.about {
  background: transparent url("../images/fog-forest-6.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 0; }

/* line 215, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.advocacy {
  background: transparent url("../images/ferns.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 0; }

/* line 221, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.donate-img {
  background: transparent url("../images/leaf.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 0; }

/* line 227, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.education {
  background: transparent url("../images/fog-forest-4.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 0; }

/* line 233, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.mission {
  background: transparent url("../images/frosty-trees.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 0; }

/* line 239, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.resources {
  background: transparent url("../images/tree-logs.jpg") no-repeat bottom;
  background-size: cover;
  background-position: 100% 0; }

/* line 245, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.advocacy-article-1 {
  background: transparent url("../images/forest-invasion.jpg") no-repeat;
  background-size: cover; }

/* line 250, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.advocacy-article-2 {
  background: transparent url("../images/farm-bill.jpg") no-repeat;
  background-size: cover; }

/* line 255, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.advocacy-article-3 {
  background: transparent url("../images/dying-forest-2.jpg") no-repeat bottom;
  background-size: cover; }

/* line 260, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.contact {
  background: transparent url("../images/tree-logs-4.jpg") no-repeat bottom;
  background-size: cover;
  background-position: 100% 0; }

/* line 266, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.staff {
  background: transparent url("../images/hike-forest-5.jpg") no-repeat bottom;
  background-size: cover;
  background-position: 100% 0; }

/* line 272, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.log-in {
  background: transparent url("../images/fog-forest.jpg") no-repeat top;
  background-size: cover;
  background-position: 100% 0; }

/* line 278, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.blog-img {
  background: transparent url("../images/fog-forest-3.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 0; }

/* line 284, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.tagline {
  color: #EFEFEF;
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

/* Donate */
/* line 295, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.donate-unit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8em; }

/* line 302, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.donate-txt {
  text-align: center; }

@media only screen and (min-width: 45em) {
  /* line 308, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .donate-unit {
    float: left;
    width: 10em; }

  /* line 313, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .donate-txt {
    text-align: left;
    padding-top: 1em;
    margin-left: 12em; }
 }

/* blog */
/* line 323, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.lrg-border {
  display: block;
  width: 100%;
  height: 1px;
  background: #1F2B33;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 5px; }

/* line 333, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.content-btn {
  color: #1F2B33;
  padding: 0.5em 1em;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 3px;
  border: 2px solid #1F2B33;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease-in-out; }
  /* line 95, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/mixins */
  .content-btn:hover {
    color: #BA3D36;
    border: 2px solid #BA3D36; }

/* line 337, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.blog-info {
  font-size: 12px;
  padding-top: 1rem;
  text-align: center;
  float: right; }

/* line 344, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.blog-unit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4em;
  padding-top: 2rem; }

/* line 352, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.blog-auth {
  text-align: center;
  font-size: 12px;
  top: 10px; }

@media only screen and (min-width: 45em) {
  /* line 360, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .blog-info {
    padding-top: 0.5rem; }

  /* line 364, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .blog-unit {
    float: left;
    width: 10em; }

  /* line 369, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .blog-auth {
    float: left; }
 }

/* staff page */
/* line 378, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.staff-page {
  padding-bottom: 6em;
  background-color: #EFEFEF; }

/* line 383, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.staff-page a {
  font-size: 13px; }

/* Home Sections */
/* line 389, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.af-info, .home-intro {
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1.5rem;
  text-align: center; }

/* line 398, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.home-intro {
  padding-top: 10rem;
  padding-bottom: 9rem;
  padding-left: 1rem;
  padding-right: 1rem; }

/* line 405, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.home-icon {
  width: 40%; }

/* line 409, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.intro-arrow {
  color: #EFEFEF;
  font-size: 2rem; }

/* line 414, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.grid-icon {
  width: 35%; }

/* line 418, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.intro-h {
  font-size: 1.5rem; }

/* line 422, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.home-text {
  color: #1F2B33; }

/* line 426, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.grid-header {
  letter-spacing: 5px; }

/* line 430, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.grid-para {
  line-height: 1.7rem; }

/* line 434, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.grid-btn {
  background-color: #EFEFEF;
  color: #1F2B33;
  padding: 0.5em 1em;
  border-radius: 3px;
  margin: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 3px;
  border: 2px solid #1F2B33;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease-in-out; }
  /* line 55, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/mixins */
  .grid-btn:hover {
    color: #BA3D36;
    border: 2px solid #BA3D36; }

/* log-in */
/* line 440, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.login-logo {
  padding-top: 5rem;
  width: 60%; }

/* line 445, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.login-form {
  width: 340px;
  height: 200px;
  margin: auto;
  text-align: center;
  list-style: none;
  padding: 10px 20px 10px 10px;
  color: #EFEFEF; }

/* line 456, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.name, .sub {
  background: none;
  disply: block;
  width: 270px;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  color: #EFEFEF;
  border: 0px;
  border-bottom: 2px solid #EFEFEF;
  border-radius: 0px; }

/* line 468, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
.sub {
  width: 200px; }

/* line 472, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
input:focus {
  outline: none; }

/* line 477, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
input[type=email], input[type=password] {
  font-size: 0.9rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #EFEFEF; }

/* line 484, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
[type=submit] {
  color: #EFEFEF;
  padding: 0.5em 1em;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 3px;
  border: 2px solid #EFEFEF;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease-in-out; }
  /* line 75, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/mixins */
  [type=submit]:hover {
    color: #BA3D36;
    border: 2px solid #BA3D36; }
  /* line 486, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  [type=submit]:hover {
    cursor: pointer; }

/* line 491, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
form p {
  color: #EFEFEF;
  font-weight: 300;
  font-size: 0.7rem;
  letter-spacing: 2px;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: -1rem; }
  /* line 500, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  form p:hover {
    color: #BA3D36;
    transition: all 0.7s ease; }

/* line 506, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
form a {
  text-decoration: none; }

/* FORM PLACEHOLDER TEXT*/
/* line 511, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
::-webkit-input-placeholder {
  color: #EFEFEF; }

/* line 515, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
:-moz-placeholder {
  /* Firefox 18- */
  color: #EFEFEF; }

/* line 518, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #EFEFEF; }

/* line 521, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
:-ms-input-placeholder {
  color: #EFEFEF; }

/* footer */
/* line 528, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
footer {
  background-color: #1F2B33;
  padding-top: 3em;
  padding-bottom: 3rem
  /* footer navigation */
  /* footer social */
  /* social end*/ }
  /* line 534, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .logo-footer {
    margin-left: 22%;
    margin-right: 20%;
    margin-bottom: -5px;
    width: 12rem; }
  /* line 541, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .donate {
    margin-left: 29%; }
  /* line 545, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .donate-btn {
    background-color: #1F2B33;
    color: #FFF;
    padding: 0.5em 1em;
    border-radius: 3px;
    margin: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 3px;
    border: 2px solid #EFEFEF;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 300ms ease-in-out; }
    /* line 32, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/mixins */
    footer .donate-btn:hover {
      background-color: #EFEFEF;
      color: #1F2B33;
      border: 2px solid #EFEFEF; }
  /* line 551, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .bottom-nav {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6rem;
    color: #EFEFEF;
    padding: 0; }
  /* line 560, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .bottom-nav a {
    text-decoration: none;
    letter-spacing: 2px;
    color: #EFEFEF;
    padding-left: 3px;
    padding-right: 3px; }
    /* line 566, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
    footer .bottom-nav a:hover {
      color: #BA3D36; }
  /* line 573, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .social-wrap {
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 0.5rem; }
  /* line 579, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .social-name {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }
  /* line 583, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer .social {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0.5rem;
    position: relative;
    float: left;
    left: 52%
    /* li end */ }
    /* line 592, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
    footer .social li {
      position: relative;
      float: left;
      right: 50%
      /* a end */ }
      /* line 596, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
      footer .social li a {
        display: inline;
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        text-align: center;
        padding-top: 12px;
        padding-right: 1px;
        -o-border-radius: 20px;
        border-radius: 20px;
        -o-box-shadow: inset 0 0 0 40px #EFEFEF;
        -ms-box-shadow: inset 0 0 0 40px #EFEFEF;
        box-shadow: inset 0 0 0 40px #EFEFEF;
        color: #1F2B33
        /* hover end*/ }
        /* line 619, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
        footer .social li a:hover {
          -o-box-shadow: inset 0 0 0 2px #EFEFEF;
          -ms-box-shadow: inset 0 0 0 2px #EFEFEF;
          box-shadow: inset 0 0 0 2px #EFEFEF;
          color: #EFEFEF;
          transition: all 0.3s ease; }

@media only screen and (min-width: 35em) {
  /* FOOTER */
  /* line 637, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .logo-wrap {
    float: left;
    margin-left: -2rem;
    padding-top: 1rem; }

  /* line 643, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .donate {
    padding-left: 26%; }

  /* line 647, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  footer {
    padding-top: 2rem;
    padding-bottom: 2rem; }

  /* line 652, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .social-wrap {
    margin-left: 34%; }

  /* line 656, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .links-wrap {
    margin-left: 35%; }

  /* line 660, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .af-info, .home-intro {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 8rem;
    padding-right: 8rem; }


  /* line 671, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .login-logo {
    width: 40%; }

  /* line 675, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .login-form {
    width: 520px;
    height: 250px; }

  /* line 681, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .name, .sub {
    width: 500px; }

  /* line 685, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .sub {
    width: 200px; }

  /* line 689, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  form p {
    margin-left: 9rem;
    margin-right: 9rem; }
 }

@media only screen and (min-width: 45em) {
  /* line 699, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .logo {
    width: 20em; }

  /* line 703, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .links-wrap {
    margin-left: 43%; }

  /* line 707, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .af-info, .home-intro {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0; }

  /* line 714, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .grid-para {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem; }

  /* line 720, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .grid-icon {
    width: 25%; }

  /* line 724, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-intro {
    padding: 6rem; }

  /* line 728, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-icon {
    width: 30%; }

  /* line 732, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .logo {
    width: 50%;
    padding-top: 7rem;
    margin-bottom: -5rem; }

  /* line 738, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .arrow {
    padding-top: 17rem; }
 }

@media only screen and (min-width: 50em) {
  /* line 746, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .links-wrap {
    margin-left: 48%; }

  /* line 750, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .social-wrap {
    margin-left: 31%; }

  /* line 754, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .af-info, .home-intro {
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 3rem; }

  /* line 760, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-intro {
    padding: 7rem; }

  /* line 764, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-icon {
    width: 25%; }

  /* line 768, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .logo {
    width: 40%;
    padding-top: 5rem;
    margin-bottom: -5rem; }

  /* line 774, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .arrow {
    padding-top: 15rem; }

  /* line 778, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .login-logo {
    width: 30%; }
 }

@media only screen and (min-width: 60em) {
  /* line 786, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .links-wrap {
    margin-left: 57%; }

  /* line 790, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .af-info, .home-intro {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 7rem; }

  /* line 796, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .grid-icon {
    width: 30%; }

  /* line 800, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-intro {
    padding-top: 10rem;
    padding-bottom: 10rem; }

  /* line 805, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-para {
    padding-left: 10rem;
    padding-right: 10rem; }

  /* line 810, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-icon {
    width: 20%; }

  /* line 814, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .logo {
    width: 40%;
    padding-top: 7rem;
    margin-bottom: -5rem; }

  /* line 820, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .arrow {
    padding-top: 15rem; }

  /* line 824, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .login-logo {
    width: 30%; }
 }

@media only screen and (min-width: 70em) {
  /* line 832, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .links-wrap {
    margin-left: 63%; }

  /* line 836, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .af-info, .home-intro {
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

  /* line 842, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-icon {
    width: 15%; }

  /* line 846, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-intro {
    padding-top: 10rem; }

  /* line 850, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-para {
    padding-left: 18rem;
    padding-right: 18rem; }

  /* line 855, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .logo {
    width: 35%;
    padding-top: 6rem;
    margin-bottom: -5rem; }

  /* line 861, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .arrow {
    padding-top: 15rem; }

  /* line 865, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .login-logo {
    width: 25%; }
 }

@media only screen and (min-width: 80em) {
  /*FOOTER*/
  /* line 874, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .links-wrap {
    margin-left: 70%; }

  /* line 878, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .logo {
    width: 25rem;
    padding-top: 7rem; }

  /* line 883, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .donate {
    padding-left: 28%; }

  /* line 887, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .bottom-nav {
    margin-right: 1rem; }

  /* line 891, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .social-wrap {
    margin-left: 26%; }

  /* Home */
  /* line 897, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .intro-para {
    line-height: 2rem; }

  /* line 901, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .intro-header {
    font-size: 1.8rem; }

  /* line 905, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .grid-header {
    font-size: 1.8rem; }

  /* line 909, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .grid-para {
    font-size: 0.9rem; }

  /* line 913, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .af-info, .home-intro {
    padding-top: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem; }

  /* line 919, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-intro {
    padding: 10rem; }

  /* line 923, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-para {
    padding-left: 7rem;
    padding-right: 7rem; }
 }

@media only screen and (min-width: 85em) {
  /* line 932, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .logo {
    padding-top: 6rem;
    margin-bottom: 0.5rem; }

  /* line 937, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .af-info, .home-intro {
    padding-top: 4.5rem; }

  /* line 941, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-intro {
    padding-top: 13rem;
    padding-bottom: 12rem;
    padding-left: 17rem;
    padding-right: 17em; }

  /* line 948, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-para {
    padding-left: 9rem;
    padding-right: 9rem; }

  /* line 953, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .home-icon {
    width: 25%; }

  /* line 957, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .logo {
    padding-top: 8rem; }

  /* line 961, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .arrow {
    padding-top: 9.75rem; }

  /* line 965, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/main */
  .login-logo {
    padding-top: 6rem; }
 }

/* line 1, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
html {
  font-size: 1em; }

/* line 5, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #000; }

/* line 14, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.education-pg a, .staff-page a {
  color: #BA3D36;
  text-decoration: none; }
  /* line 17, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
  .education-pg a:hover, .staff-page a:hover {
    color: #1F2B33;
    transition: all 0.3s ease; }

/* line 23, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: inherit;
  line-height: 1.2; }

/* line 29, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 2rem; }

/* line 36, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.h1-home {
  display: none; }

/* line 40, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.page-title {
  color: #EFEFEF;
  padding-top: 5rem;
  margin-bottom: 0; }

/* line 46, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px; }

/* line 53, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.small-border {
  display: block;
  width: 45px;
  height: 4px;
  background: #1F2B33;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 10px; }

/* line 63, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h3 {
  font-size: 1em; }

/* line 67, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h4 {
  font-size: 1.5em; }

/* line 71, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h5 {
  margin: 0;
  position: relative;
  top: 15px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px; }

/* line 80, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
small, .font_small {
  font-size: 0.667em; }

/* line 84, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
p {
  line-height: 2rem;
  letter-spacing: 1px;
  font-size: 15px; }

/* line 90, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
ul {
  list-style-type: circle;
  padding: 0;
  line-height: 2rem;
  font-size: 15px; }

/* line 97, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.quote {
  font-family: 'Montserrat', sans-serif;
  background-color: #EFEFEF;
  text-align: center;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 3px;
  padding: 2.5rem; }

@media only screen and (min-width: 80em) {
  /* line 109, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
  .quote {
    padding: 3rem; }
 }

/* line 114, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.text-wrapper {
  margin: 5rem 10%;
  font-family: 'Open Sans', sans-serif; }

/* line 119, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.text-wrapper-article {
  margin: 2rem 10%;
  font-family: 'Open Sans', sans-serif; }

@media only screen and (min-width: 80em) {
  /* line 125, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
  .text-wrapper {
    margin: 6rem 15%; }

  /* line 129, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
  .intro-h {
    font-size: 2rem; }

  /* line 133, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
  .grid-header {
    font-size: 1.5rem; }
 }

/* line 139, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.upper {
  text-transform: uppercase; }

/* line 143, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.center {
  text-align: center; }

/* line 149, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.article-title {
  padding-top: 4rem; }

/* line 153, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.contact-spacing {
  margin-bottom: -90px; }

/* line 1, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
.grid {
  overflow: hidden;
  background-color: #EFEFEF; }

/* line 6, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
.grid-report {
  overflow: hidden; }

/* line 10, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
.unit {
  float: left;
  background-color: #EFEFEF; }

/* line 15, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
.unit-report {
  float: left; }

/* line 19, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
.unit-right {
  float: right; }

/* line 23, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
.unit-clear {
  clear: both; }

/* line 27, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
.gutter {
  padding-top: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem; }

@media only screen and (min-width: 70em) {
  /* line 37, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
  .home-grid .unit {
    min-height: 200px; }
  /* line 40, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
  .home-grid .unit-right {
    float: left; }
  /* line 43, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
  .home-grid .unit-clear {
    clear: none !important;
    backround: red; }
  /* line 47, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
  .home-grid .unit:nth-child(4) {
    clear: left; }
 }

/* line 53, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
.img-flex {
  display: block;
  width: 100%; }

/* line 58, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
.unit-s-1 {
  width: 100%; }

@media only screen and (min-width: 45em) {
  /* line 64, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
  .unit-m-1-2 {
    width: 50%; }
 }

@media only screen and (min-width: 70em) {
  /* line 71, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/grid */
  .unit-l-1-3 {
    width: 33.3333%; }
 }

/* line 1, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
html {
  font-size: 1em; }

/* line 5, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #000; }

/* line 14, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.education-pg a, .staff-page a {
  color: #BA3D36;
  text-decoration: none; }
  /* line 17, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
  .education-pg a:hover, .staff-page a:hover {
    color: #1F2B33;
    transition: all 0.3s ease; }

/* line 23, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: inherit;
  line-height: 1.2; }

/* line 29, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 2rem; }

/* line 36, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.h1-home {
  display: none; }

/* line 40, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.page-title {
  color: #EFEFEF;
  padding-top: 5rem;
  margin-bottom: 0; }

/* line 46, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px; }

/* line 53, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.small-border {
  display: block;
  width: 45px;
  height: 4px;
  background: #1F2B33;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 10px; }

/* line 63, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h3 {
  font-size: 1em; }

/* line 67, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h4 {
  font-size: 1.5em; }

/* line 71, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
h5 {
  margin: 0;
  position: relative;
  top: 15px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px; }

/* line 80, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
small, .font_small {
  font-size: 0.667em; }

/* line 84, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
p {
  line-height: 2rem;
  letter-spacing: 1px;
  font-size: 15px; }

/* line 90, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
ul {
  list-style-type: circle;
  padding: 0;
  line-height: 2rem;
  font-size: 15px; }

/* line 97, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.quote {
  font-family: 'Montserrat', sans-serif;
  background-color: #EFEFEF;
  text-align: center;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 3px;
  padding: 2.5rem; }

@media only screen and (min-width: 80em) {
  /* line 109, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
  .quote {
    padding: 3rem; }
 }

/* line 114, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.text-wrapper {
  margin: 5rem 10%;
  font-family: 'Open Sans', sans-serif; }

/* line 119, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.text-wrapper-article {
  margin: 2rem 10%;
  font-family: 'Open Sans', sans-serif; }

@media only screen and (min-width: 80em) {
  /* line 125, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
  .text-wrapper {
    margin: 6rem 15%; }

  /* line 129, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
  .intro-h {
    font-size: 2rem; }

  /* line 133, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
  .grid-header {
    font-size: 1.5rem; }
 }

/* line 139, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.upper {
  text-transform: uppercase; }

/* line 143, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.center {
  text-align: center; }

/* line 149, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.article-title {
  padding-top: 4rem; }

/* line 153, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/americanforestfoundation/scss/components/typography */
.contact-spacing {
  margin-bottom: -90px; }
