// Variables

$white: #FFF;
$text-color: #CCB89C;
$brown: #675B57;
$dark: #111719;

//Brand Colours
$red: #BA3D36;
$light-grey: #EFEFEF;
$blue: #1F2B33;

// Button Colours 
$btn-bg: #EFEFEF;
$btn-hov: #EFEFEF;

//font-stacks
$montserrat: 'Montserrat', sans-serif;
$open: 'Open Sans', sans-serif;