// Variables

$background: #F2F1F1;
$light-grey: #EFEFEF;
$white: #FFF;
$text-color: #CCB89C;
$brown: #675B57;
$dark: #111719;
$blue: #1F2B33;
$btn-bg: #EFEFEF;
$btn-hov: #EFEFEF;

//font-stacks
$montserrat: 'Montserrat', sans-serif;
$open: 'Open Sans', sans-serif;