@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

body {
  margin: 0;
}

.h1-home {
  display: none;
}

.upper {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.small-border{
    display: block;
    width: 45px;
    height: 4px;
    background: $blue;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 10px;
}


/* nav */

.pushmenu { 
  background: $light-grey;
  font-family: $open;
  font-weight: 400;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position:fixed;
  padding-top: 2em;
}

.pushmenu ul{
  @include zero;
}

.pushmenu li {
  list-style-type: none;
}

.pushmenu a {
  display: block; /* drops the nav vertically*/
  color: $blue;
  text-decoration: none;
  padding: 1em;
  font-size: .9rem;
  letter-spacing: 2px;
    &:hover {
      color: $red;
    }
}

.pushmenu-left {
  left: -240px;

}

.pushmenu-left.pushmenu-open {
  left: 0;
}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 240px;
}

/* sub-nav */

.sub-nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    font-weight: 300;
}

nav section:hover > .sub-nav{
    max-height: 100px;
}

.sub-nav a {
  color: $blue;
  font-size: 12px;
  padding-left: 2em;
  &:hover {
    color: $red;
  }
}

/*Transition*/

.pushmenu, .pushmenu-push {
  @include ease(all, 0.3s, ease);
}

#nav_list {
  background: url("../images/menu.svg") no-repeat left top;
  cursor: pointer;
  height: 65px;
  width: 70px;
  text-indent: -99999em;
}

nav-list.active {
  background-position: -33px top;
}
 
 section.content {
   font-family: $montserrat;
   padding: 10px 20px;
 }


/* content */
.logo {
  width: 17em;
  padding-top: 5rem;
  margin-bottom: -5rem;
}

.img-bg {
  width: 100%;
  padding-bottom: 12em;
}

.home {
  background: transparent url("../images/fog-forest-5.jpg") no-repeat bottom;
  background-size: cover;
}

.tagline {
  color: $light-grey;
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
  font-family: $open;
  font-weight: 300;
}

/* Home Sections */

.af-info{
  padding: 4rem;
  line-height: 1.5rem;
  text-align: center;
}

.home-intro{
  padding: 6rem
}

.intro-header{
  color: $blue;
  font-family: $montserrat;
  letter-spacing: 5px;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.intro-para{
  color: $blue;
  font-size: .8rem;
  line-height: 1.5rem;
  font-family: $open;
  letter-spacing: 1px;
}

.grid-header{
  padding-top: 3rem;
  color: $blue;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: $montserrat;
  letter-spacing: 5px;
}

.grid-para{
  padding-left: 1rem;
  color: $blue;
  font-size: .8rem;
  font-family: $open;
  line-height: 1.7rem;
}

.learn{
  padding-bottom: 3rem;
}

.support{
  padding-bottom: 3rem;
}

.news{
  padding-bottom: 3rem;
}

.grid-btn{
  @include button2($btn-bg, $btn-hov, $blue);
}

/* footer */

footer{
  background-color: $blue;
  padding-top: 3em;
  padding-bottom: 3rem;

.logo-footer{
  margin-left: 27%;
  margin-right: 20%;
  margin-bottom: -5px;
  width: 12rem;
}

.donate{
  margin-left: 33%;
}

.donate-btn{
  @include button($btn-bg, $btn-hov, $blue);
}

/* footer navigation */

.bottom-nav{
  text-transform: uppercase;
  font-family: $open;
  font-size: .6rem;
  color: $light-grey;
  padding: 0;
}


.bottom-nav a{
  text-decoration: none;
  letter-spacing: 2px;
  color: $light-grey;
  padding-left: 3px;
  padding-right: 3px;
  &:hover{
    color: $red;
  }
}

/* footer social */

.social-wrap{
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.social-name{
   @include hide-text;
}

.social{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    margin-bottom: .5rem;
    position: relative;
    float: left;
    left: 52%;

    li{
      position: relative;
      float: left;
      right: 50%;
      a{
        display: inline;
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        text-align: center;
        padding-top: 12px;
        padding-right: 1px;
    
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -o-border-radius:20px;
        -ms-border-radius:20px;
        border-radius:20px;
    
        -webkit-box-shadow: inset 0 0 0 40px $light-grey;
        -moz-box-shadow: inset 0 0 0 40px $light-grey;
        -o-box-shadow: inset 0 0 0 40px $light-grey;
        -ms-box-shadow: inset 0 0 0 40px $light-grey;
        box-shadow: inset 0 0 0 40px $light-grey;
        color: $blue;

        &:hover{
        -webkit-box-shadow: inset 0 0 0 2px $light-grey;
        -moz-box-shadow: inset 0 0 0 2px $light-grey;
        -o-box-shadow: inset 0 0 0 2px $light-grey;
        -ms-box-shadow: inset 0 0 0 2px $light-grey;
        box-shadow: inset 0 0 0 2px $light-grey;
        color: $light-grey;
        @include ease(all, 0.3s, ease);
        }/* hover end*/
      }/* a end */
    }/* li end */
  }/* social end*/
}

@media only screen and (min-width: 35em) {

/* FOOTER */
.logo-wrap{
  float: left;
  margin-left: -2rem;
  padding-top: 1rem;
}

.donate{
  padding-left: 26%;
}

footer{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.social-wrap{
  margin-left: 34%;
}

.links-wrap{
  margin-left: 35%;
}

.learn{
  padding-bottom: 0rem;
}

.grid-header{
  padding-top: 2rem;
}

}


@media only screen and (min-width: 45em) {

.logo {
  width: 20em;
}

.af-info{
  padding: 1.5rem;
}

.links-wrap{
  margin-left: 43%;
}

}

@media only screen and (min-width: 50em) {

.links-wrap{
  margin-left: 48%;
}

.af-info{
  padding-top: 5rem;
}

.social-wrap{
  margin-left: 31%;
}
}

@media only screen and (min-width: 60em) {

.links-wrap{
  margin-left: 57%;
}

.af-info{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 7rem;
}

}


@media only screen and (min-width: 70em) {

.links-wrap{
  margin-left: 63%;
}

.af-info{
  padding-top: 2rem;
}

}


@media only screen and (min-width: 80em) {

/*FOOTER*/
.links-wrap{
  margin-left: 70%;
}

.logo{
  width: 25rem;
  padding-top: 7rem;
}

.donate{
  padding-left: 23%;
}

.bottom-nav{
  margin-right: 1rem;
}

.social-wrap{
  margin-left: 26%;
}

/* Home */

.intro-para{
  line-height: 2rem;
}

.intro-header{
  font-size: 1.8rem;
}

.grid-header{
  font-size: 1.8rem;
}

.grid-para{
  font-size: .9rem;
}

.af-info{
  padding-top: 3.5rem;
}

}

@media only screen and (min-width: 85em) {

.logo{
  padding-top: 6rem; 
  margin-bottom: .5rem;
}


.af-info{
  padding-top: 5rem;
}

}
