html {
	font-size: 1em;
}

body {
  background-color: white;
  font-family: $open;
  font-weight: 400;
  line-height: 1.45;
  color: #000;
}

.education-pg a,
.staff-page a,
.donate-pg a {
  color: $red;
  text-decoration: none;
  &:hover {
    color: $blue;
    @include ease(all, 0.3s, ease);
  }
}

h1, h2, h3, h4 {
  font-family: $montserrat;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
    font-family: $montserrat;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 2rem;
}

.h1-home {
  display: none;
}

.page-title{
  color: $light-grey;
  padding-top: 5rem;
  margin-bottom: 0;
}

h2 {
  font-family: $montserrat;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
}

.small-border {
  display: block;
  width: 45px;
  height: 4px;
  background: $blue;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 10px;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: 1.5em;
}

h5 {
  margin: 0;
  position: relative;
  top: 15px;
  text-transform: uppercase;
  font-family: $montserrat;
  letter-spacing: 2px;
}

small, .font_small {
	font-size: 0.667em;
}

p {
  line-height: 2rem;
  letter-spacing: 1px;
  font-size: 15px;
}

ul {
  list-style-type: circle;
  padding: 0;
  line-height: 2rem;
  font-size: 15px;
}

.quote {
  font-family: $montserrat;
  background-color: $light-grey;
  text-align: center;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 3px;
  padding: 2.5rem;
}


@media only screen and (min-width: 80em) {
.quote {
  padding: 3rem;
  }
}

.text-wrapper {
  margin: 5rem 10%;
  font-family: $open;
}

.text-wrapper-article {
margin: 2rem 10%;
font-family: $open;
}

@media only screen and (min-width: 80em) {
  .text-wrapper {
    margin: 6rem 15%;
}

.intro-h {
  font-size: 2rem;
}

.grid-header{
  font-size: 1.5rem;
}

}

.upper {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

//* TYPOGRAPHY GRID

.article-title {
  padding-top: 4rem;
}

.contact-spacing{
  margin-bottom: -90px;
}
